[Unit]
Description=Unicef_Startup_Service
Requires=mdns.service
After=mdns.service

[Service]
Type=oneshot
TimeoutSec=0
StandardOutput=journal+console
RemainAfterExit=yes
SysVStartPriority=99
ExecStart=/bin/su root -c '/home/root/unicef-ghana-arduino/startup.sh'

[Install]
WantedBy=multi-user.target